In [14]:
import pandas as pd
import numpy as np

In [15]:
df_list = [['Taylor Swift', 'December 13, 1989', 'Singer-songwriter'], ['Aaron Sorkin', 'June 9, 1961', 'Screenwriter'], ['Harry Potter', 'July 31, 1980', 'Wizard'], ['Ji-Sung Park', 'February 25, 1981', 'Footballer']]
df = pd.DataFrame(df_list, columns=['name', 'birthday', 'occupation'])

In [16]:
df

           name           birthday         occupation
0  Taylor Swift  December 13, 1989  Singer-songwriter
1  Aaron Sorkin       June 9, 1961       Screenwriter
2  Harry Potter      July 31, 1980             Wizard
3  Ji-Sung Park  February 25, 1981         Footballer

In [17]:
# From dict to list
names = ['dongwook', 'sineui', 'ikjoong', 'yoonsoo']
english_scores = [50, 89, 68, 88]
math_scores = [86, 31, 91, 75]

dict1 = {
    'name': names, 
    'english_score': english_scores, 
    'math_score': math_scores
}

dict2 = {
    'name': np.array(names), 
    'english_score': np.array(english_scores), 
    'math_score': np.array(math_scores)
}

dict3 = {
    'name': pd.Series(names), 
    'english_score': pd.Series(english_scores), 
    'math_score': pd.Series(math_scores)
}


# 아래 셋은 모두 동일합니다
df1 = pd.DataFrame(dict1)
df2 = pd.DataFrame(dict2)
df3 = pd.DataFrame(dict3)

print(df1)

       name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75

In [19]:
# From list to dicts
my_list = [
    {'name': 'dongwook', 'english_score': 50, 'math_score': 86},
    {'name': 'sineui', 'english_score': 89, 'math_score': 31},
    {'name': 'ikjoong', 'english_score': 68, 'math_score': 91},
    {'name': 'yoonsoo', 'english_score': 88, 'math_score': 75}
]

df = pd.DataFrame(my_list)
print(df)

       name  english_score  math_score
0  dongwook             50          86
1    sineui             89          31
2   ikjoong             68          91
3   yoonsoo             88          75

In [29]:
iphone_df = pd.read_csv('iphone.csv', index_col = 0)

In [30]:
iphone_df

                      출시일  디스플레이  메모리     출시 버전  Face ID
iPhone 7       2016-09-16    4.7  2GB  ios 10.0       No
iPhone 7 Plus  2016-09-16    5.5  3GB  ios 10.0       No
iPhone 8       2017-09-22    4.7  2GB  ios 11.0       No
iPhone 8 Plus  2017-09-22    5.5  3GB  ios 11.0       No
iPhone X       2017-11-03    5.8  3GB  ios 11.1      Yes
iPhone XS      2018-09-21    5.8  4GB  ios 12.0      Yes
iPhone XS Max  2018-09-21    6.5  4GB  ios 12.0      Yes